In [1]:
import requests
import pymysql
import json
import pandas as pd
import time
from fake_useragent import UserAgent

db_settings = {
    "host": "127.0.0.1",
    "port": 3306,
    "user": "root",
    "password": "",
    "db": "ncu_database",
    "charset": "utf8"
}

In [ ]:
headers = {
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9",
    "Accept-Encoding": "gzip, deflate, br",
    "Accept-Language": "zh-TW,zh;q=0.9,en-US;q=0.8,en;q=0.7",
    "Host": "www.twse.com.tw",
    "Sec-Fetch-Dest": "document",
    "Sec-Fetch-Mode": "navigate",
    "Sec-Fetch-Site": "none",
    "Upgrade-Insecure-Requests": "1",
    "User-Agent": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.82 Mobile Safari/537.36"
}

In [5]:
try:  
    all_url = []
    all_stock =[]
    conn = pymysql.connect(**db_settings)
    with conn.cursor() as cursor:
        command = "SELECT * FROM etf_list"
        cursor.execute(command)
        conn.commit()
        result = cursor.fetchall()
        for year in range(2022, 2023):
            for month in range(1, 3):
                for r in result:
                    try:
                        stock = r[0]
                        date = str(year)+f"{month:02d}"+"01"
                        address = f"https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date={date}&stockNo={stock}"
                        all_url.append(address)
                        all_stock.append(r[0])
                    except Exception as ex:
                        continue
except Exception as ex:
    print(ex)

In [9]:
all_url[185]

'https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=20220201&stockNo=00664R'

In [10]:
try:  
    user_agent = UserAgent()
    conn = pymysql.connect(**db_settings)
    with conn.cursor() as cursor:
        insert_command = "INSERT INTO stock_data(c, d, v, z, o, h, l, tz, u, tv) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        for index in range(186, len(all_url)):
            try:
                response = requests.get(url=all_url[index], headers={ 'user-agent': user_agent.random })
                data = response.text  # 這是json格式的資料
                a_json = json.loads(data)  # 轉成dict
                for data in a_json["data"]:
                    data[1] = data[1].replace(",", "")
                    data[2] = data[2].replace(",", "")
                    data[3] = data[3].replace(",", "")
                    data[4] = data[4].replace(",", "")
                    data[5] = data[5].replace(",", "")
                    data[6] = data[6].replace(",", "")
                    data[7] = data[7].replace(",", "")
                    data[8] = data[8].replace(",", "")
                    cursor.execute(insert_command, (all_stock[index], data[0], data[1], data[2], data[3], data[4], data[5], data[6], data[7], data[8]))
                    conn.commit()
                time.sleep(10)
                print(time.strftime("%H:%M:%S", time.localtime()) + " " + str(index))
            except Exception as ex:
                time.sleep(10)
                print(time.strftime("%H:%M:%S", time.localtime()) + " error " + str(index) + " " + data)
                continue
except Exception as e:
#    print(e)
    error_class = e.__class__.__name__ #取得錯誤類型
    detail = e.args[0] #取得詳細內容
    cl, exc, tb = sys.exc_info() #取得Call Stack
    lastCallStack = traceback.extract_tb(tb)[-1] #取得Call Stack的最後一筆資料
    fileName = lastCallStack[0] #取得發生的檔案名稱
    lineNum = lastCallStack[1] #取得發生的行號
    funcName = lastCallStack[2] #取得發生的函數名稱
    errMsg = "File \"{}\", line {}, in {}: [{}] {}".format(fileName, lineNum, funcName, error_class, detail)
    print(errMsg)

09:50:38 186
09:50:48 187
09:50:58 188
09:51:08 189
09:51:18 190
09:51:29 191
09:51:39 192
09:51:49 193
09:51:59 194
09:52:09 195
09:52:19 196
09:52:29 197
09:52:49 198
09:52:59 199
09:53:09 200
09:53:19 201
09:53:29 202
09:53:39 203
09:53:49 204
09:54:00 205
09:54:10 206
09:54:20 207
09:54:33 208
09:54:43 209
09:54:53 210
09:55:04 211
09:55:14 212
09:55:24 213
09:55:34 214
09:55:44 215
09:55:54 216
09:56:04 217
09:56:15 218
09:56:25 219
09:56:35 220
09:56:45 221
09:56:55 222
09:57:05 223
09:57:16 224
09:57:26 225
09:57:36 226
09:57:46 227
09:57:56 228
09:58:06 229
09:58:16 230
09:58:26 231
09:58:37 232
09:58:47 233
09:58:57 234
09:59:07 235
09:59:17 236
09:59:27 237
09:59:37 238
09:59:47 239
09:59:58 240
10:00:08 241
10:00:18 242
10:00:28 243
10:00:38 244
10:00:48 245
10:00:58 246
10:01:08 247
10:01:19 248
10:01:29 249
10:01:39 250
10:01:49 251
10:01:59 252
10:02:09 253
10:02:20 254
10:02:30 255
10:02:40 256
10:02:50 257
10:03:00 258
10:03:10 259
10:03:21 260
10:03:31 261
10:03:41 262
10:03:51 263
10:04:02 264
10:04:12 265
10:04:22 266
10:04:32 267
10:04:42 268
10:04:52 269
10:05:02 270
10:05:13 271
10:05:23 272
10:05:33 273

In [5]:
stock = "0061"
date = "20210101"
address = f"https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date={date}&stockNo={stock}"
# address = "https://www.twse.com.tw/exchangeReport/STOCK_DAY_ALL?response=open_dat"

response = requests.get(address)
data = response.text  # 這是json格式的資料
a_json = json.loads(data)  # 轉成dict
df = pd.DataFrame.from_dict(a_json["data"])  # 轉成dataframe
df

            0          1           2      3      4      5      6      7    8
0   110/01/04  1,622,559  39,055,555  23.68  24.32  23.68  24.26  +0.59  468
1   110/01/05    917,626  22,355,346  24.26  24.47  24.20  24.46  +0.20  315
2   110/01/06  1,049,813  26,016,158  24.75  25.01  24.60  24.73  +0.27  431
3   110/01/07  1,917,777  48,010,460  24.75  25.12  24.75  25.04  +0.31  424
4   110/01/08  1,236,721  31,244,896  25.10  25.45  25.10  25.16  +0.12  315
5   110/01/11    717,466  18,102,462  25.16  25.41  25.13  25.15  -0.01  217
6   110/01/12    505,119  12,673,942  25.09  25.25  24.81  25.25  +0.10  223
7   110/01/13  1,138,791  29,273,762  25.47  25.90  25.47  25.64  +0.39  364
8   110/01/14    355,173   9,026,025  25.64  25.78  25.26  25.26  -0.38  184
9   110/01/15    575,984  14,338,307  25.00  25.34  24.75  24.75  -0.51  248
10  110/01/18    568,583  14,197,325  24.78  25.14  24.77  25.12  +0.37  223
11  110/01/19    347,541   8,726,644  25.12  25.22  25.04  25.11  -0.01  133
12  110/01/20  1,447,307  36,263,727  25.07  25.13  24.92  25.01  -0.10  834
13  110/01/21    676,000  17,145,560  25.01  25.55  25.01  25.55  +0.54  258
14  110/01/22    250,330   6,339,929  25.50  25.50  25.23  25.31  -0.24  110
15  110/01/25    433,805  11,075,661  25.34  25.74  25.28  25.72  +0.41  205
16  110/01/26    298,130   7,573,859  25.72  25.78  25.21  25.27  -0.45  168
17  110/01/27    669,836  16,844,726  25.17  25.25  25.05  25.22  -0.05  159
18  110/01/28    506,787  12,556,992  25.00  25.17  24.61  24.70  -0.52  217
19  110/01/29    229,685   5,654,773  24.56  24.74  24.48  24.48  -0.22  133

In [2]:
import time
timestamp = int(time.time() * 1000 + 1000000)
timestamp

1644301069610

In [4]:
time.strftime("%H:%M:%S", time.localtime())

'15:08:26'

'Opera/9.80 (Windows NT 6.1; U; sv) Presto/2.7.62 Version/11.01'